@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 53 56% 91%;
    --foreground: 197 37% 24%;
    --card: 53 56% 96%;
    --card-foreground: 197 37% 24%;
    --popover: 53 56% 96%;
    --popover-foreground: 197 37% 24%;
    --primary: 197 37% 24%;
    --primary-foreground: 53 56% 91%;
    --secondary: 12 76% 80%;
    --secondary-foreground: 197 37% 24%;
    --muted: 197 15% 88%;
    --muted-foreground: 197 15% 55%;
    --accent: 12 76% 61%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 197 15% 80%;
    --input: 197 15% 85%;
    --ring: 12 76% 61%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 10% 10%;
    --foreground: 210 40% 98%;
    --card: 220 10% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 40% 98%;
    --primary: 197 37% 24%;
    --primary-foreground: 210 40% 98%;
    --secondary: 12 76% 61%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 215 20% 20%;
    --muted-foreground: 215 20% 65%;
    --accent: 12 76% 61%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 19% 27%;
    --input: 217 19% 27%;
    --ring: 12 76% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
